/* Fonts */
h1 {
  font-family: "Oswald", sans-serif;
}
h2, h3 {
  font-family: "Oswald", sans-serif;
  font-size: clamp(1.5, 3vw, 2.5rem);
  max-width: 20ch;
}

p, a, ul, li {
  font-family: "Josefin Slab", serif;
  font-size: clamp(1.2rem, 3vw, 2rem);
  line-height: 1.4;
  max-width: 60ch;
}

a, li {
  text-decoration: none;
  color: var(--white);
  list-style-type: none;
}

i {
  font-size: clamp(32px, 10vw, 42px);
}
.social-container i {
    font-size: clamp(10px, 10vw, 30px)
}
