/* Fonts */
h1 {
  color: var(--white);
  font-variant: small-caps;
  font-family: "Oswald", sans-serif;
  font-size: clamp(2.6rem, 10vw, 3.5rem);
  font-weight: 800;
}

h2, h3, span {
  font-family: "Oswald", sans-serif;
  font-size:clamp(1.5rem, 10vw, 2.5rem);
  max-width: 20ch;
}

p, a, ul, li {
  font-family: "Josefin Slab", serif;
  font-size: clamp(1.4rem, 10vw, 1.8rem);
  line-height: 1.4;
  max-width: 60ch;
  min-width: 20ch;
}

a, li {
  text-decoration: none;
  color: var(--white);
  list-style-type: none;
}

/* Anchor fonts*/
i {
  font-size: clamp(32px, 10vw, 42px);
}
.down-anchor i, .social-container i {
    font-size: clamp(10px, 10vw, 30px)
}

.down-anchor i, .hero-footer p {
  color: var(--white);
}
.up-anchor i {
  color: var(--black);
}

/* ------------- */
/* Section Fonts */
/* ------------- */

/* Nav menu settings */
.nav-menu h2 {
  color: var(--white);
  text-align: center;
}
.nav-menu hr {
  width: 8rem;
}

.nav-links a {
  font-family: "Oswald", sans-serif;
  font-size: clamp(0.5rem, 10vh, 2rem);
  font-weight: 300;
}
/* -------------- */
/* Sign up banner */
.banner-content  span {
  font-variant: small-caps;
}

/* Signup Form */
.signup-fieldset > * {
  font-family: "Josefin Slab", serif;
  font-size: clamp(1rem, 10vw, 1.6rem);
}
