/* ----------------------- */

/* ----- CSS Finder ------*/

/* 1. Custom variables
 * 2. Top level settings
 * 3. Mobile Grid Setup
 * 4. Mobile Grid Items
 * 5. Desktop Grid Setup
 * 6. Desktop Grid Items
 * 7. Navigation 
 * 8. Shapes
 * */

/* ----------------------- */

/* Custom Variables */
:root {
  --black: hsl(3, 30%, 5%);
  --white: hsl(0, 0%, 98%);
  --red: hsla(351, 80%, 65%);
}

/* ------------- */
/* Mobile Layout */
/* ------------- */


body {
  margin: auto;
  box-sizing: border-box;
  max-height: 110vh;
}

/* ------------*/
/* Site Layout */
/* ------------*/

/*no grid support */
.site-wrapper {
  margin: 0;

  display: flex;
  flex-direction: column;
}

/* Grid Support */
@supports (display:grid) {
  /* Page Layout */
  .site-wrapper {
    margin: 0;
    display: grid; 
    grid-gap: 10px;
    grid-auto-flow: row;
  }
  /* Page Layout Grid */
  .hero-wrapper, .content-wrapper, .footer-wrapper {
    grid: 1 / -1;
    clear: both;
  }
}

/* Site Elements Basic Settings */

.content-wrapper {
  margin: 0;
  min-height: 80vh;
  max-width: 100vw;

  /* for non grid support*/
  flex-grow: 1;

  /* grid layout */
  /* This method fixed the scroll problem in my last assignment by using the center elements to push the header and footer to the top and bottom respectively */
  display: grid;
  justify-content: center;
}
.footer-wrapper {
  background-color: var(--black);
  color: lightgrey;
  display: flex;
  min-height: 5vh;

  justify-content: center;
  align-items: flex-end;
}
/* --------------------------------------- */
/* Hero Section Elements Mobile / Defaults */
/* --------------------------------------- */

/* No Grid Support and background images */
.hero-wrapper {
  background-image: linear-gradient(to top, var(--black), transparent), url("../assets/images/lg/drumset-mobile.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0px 4px 5px var(--black);
  display: flex;
}

/* Quick Download section */
.downloads-container {
  padding: 0rem 6rem 0 2rem;
  display: none;
  background-color: var(--black);
  opacity: 0.8;
}

.downloads-container * {
  color: var(--white);
}
.desktop-links a {
  transition: opacity, background-color 0.25s ease;
  padding: 0 6rem 0 2rem;
}
.desktop-links a:hover {
  opacity: 0.5;
  background-color: var(--red);
}
.desktop-links li:hover {
  list-style-image: url("../assets/icons/drum-circle.svg")
}
/* Grid Layout Mobile */

@supports (display:grid) {
  .hero-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr max-content max-content max-content minmax(50px, 120px);
  }
}
/* -------------------------  */
/* Default hero item settings */
/* -------------------------  */

.nav-wrapper {
  margin: 12px 12px 0 0;
  grid-column: 3 / -1; 

  justify-self: end;
  align-self: start;
}
.title-container {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
  padding: 12px;
}
.banner-container {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.social-container {
  margin: 12px 12px 1rem 0;
  grid-column: 3 / -1;
  grid-row: 5 / -1;
  justify-self: end;
}
.hero-footer {
  margin: 0 1rem 0 0;
  grid-column: 2 / -1;
  grid-row: 4 / 5;

  justify-self: end;
  align-self: center;
}
.down-anchor {
  grid-column: 1 / -1;
  grid-row: 5 / -1;

  justify-self: start;
  align-self: end;
  padding: 0 0 1.2rem 2rem;
}
/* ---------------------- */
/* --- Desktop Layout --- */
/* ---------------------- */

@media screen and (min-width: 600px) {

  /* No grid support & General Setup */
  .hero-wrapper {
    background-image: linear-gradient(to top, var(--black), transparent), url("../assets/images/lg/drumset-full.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
  }
  .title {
    padding: 0;
  }
  /* Downloadable content desktop links are to stay in hero */
  .mobile-downloads-container {
    display: none;
  } 
  
  /* Return to top anchor */
  .up-anchor {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  @supports (display:grid) {
    .site-wrapper {
      grid-template-columns: 1fr;
      grid-auto-rows: minmax(150px, auto);
    }
    .hero-wrapper {
      grid-template-columns: 100px minmax(10rem, 2fr) max-content mimax(50px, 1fr);
      grid-template-rows: max-content max-content 1fr 10rem;
    }

/* ----------------------------- */
/* Hero Section Elements Desktop */
/* ----------------------------- */
    .nav-wrapper {
      padding: 20px 20px 0 0;
      grid-column: 4 / 5;
      grid-row: 1 / 2;

      justify-self: end;
    }
    .title-container {

      grid-column: 2 / 4;
      grid-row: 2 / 2;

      justify-self: end;
    }
    .social-container {
      margin: 0 20px 0 0;
      grid-column: 4 / 5;
      grid-row: 4 / 5;

      justify-self: end;
      align-self: end;

    }
    .social-container > ul {
      display: flex;
      flex-direction: row;

    }
    .banner-container {
      margin: 0;
      grid-column: 2 / 3;
      grid-row: 1 / 1;

      justify-self: center;
      align-self: start;
    }
    .downloads-container {
      /* layout of grid items*/
      display: grid;

      /* Layout in parent*/
      grid-column: 1 / 3;
      grid-row: 3 / 4;

      justify-self: start;
      align-self: end;
    }

    .hero-footer {
      margin: 0 3rem 0 0;
      color: var(--white);
      grid-column: 3 / span 2 ;
      grid-row: 3 / 4;

      justify-self: end;
      align-self: start;
    }
    .down-anchor {
      grid-column: 2 /3;
      grid-row: 4 / 5;
      justify-self: center;
      align-self: end;
      padding-bottom: 1rem;
    }
  }
}
/* ---------- */
/* NAVIGATION */
/* ---------- */
.nav-wrapper {
  display: flex;
}
.nav-wrapper input {
  display: none;

  padding: 2rem;
}
.nav-wrapper > label {
  color: var(--white);
}
.nav-wrapper > label:hover {
  opacity: 0.8;
  cursor: pointer;
}
.nav-wrapper input:checked ~ * ~ .nav-menu {
  display: block;
}

.nav-menu {
  height: 100%;
  background-color: var(--black);
  opacity: 0.7;

  display: none;
}
.nav-links a {
  padding: 0 4rem;
}
.nav-links a:hover {
  background-color: var(--red);
}


/* Link to github */
.social-container i:hover {
  opacity: 0.8;
}
/* ------ */
/* Shapes */
/* ------ */

/* Home icons */
.home-icon {
  margin: 12px;
  color: var(--white);

  transition: opacity 0.25s ease-in-out;

}
.home-icon:hover {
  cursor: pointer;
  opacity: 0.8;
}
/* Little banner in hero */
.banner-container {
  margin: 0;

}
.banner-link {
  display: flex;
  flex-direction: row;
  color: var(--black);

  transition: opacity 0.25s ease-in-out;
}

.banner-link:hover  {
  opacity: 0.8;
}


.banner-line {
  margin-right: 5px;
  padding: 8px 0px;
  background-color: var(--white);
  opacity: 0.7;
  width: 5px;
  height: 12.5rem;
}
/* main action */
.banner-content {
  background-color: var(--white);
  opacity: 0.6;
  padding: 12px;

  height: 12rem;
  max-width: 10rem;
  min-width: 4rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: right;
}

/* ----------------- */
/* Main Body Content */
/* ----------------- */

/*About */
.about-container {
  margin: auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}
.about-container > * {
  text-align: center;
  align-self: center;
}
/* Mobile Downloads */
.mobile-downloads-container * {
  color: var(--black);
}
.mobile-quick-links li:hover {
  list-style-image: url("../assets/icons/drum-circle-black.svg");
}
/* ------------------------ */
/* Quick navigation anchors */
/* ------------------------ */

.up-anchor {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.up-anchor i {
  transition: opacity 0.25s ease-in-out;
}
.up-anchor i:hover {
  opacity: 0.8;
  color: var(--red);
}
down-anchor i {
  transition: opacity 0.25s ease-in-out;

}
.down-anchor i:hover {
  opacity: 0.8;
  color: var(--red);
}

